USE [DBGestionGF]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 3/2/2026 15:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[IdDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[NombreDepartamento] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[IdDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 3/2/2026 15:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitud]    Script Date: 3/2/2026 15:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitud](
	[IdSolicitud] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdTipoPermiso] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFinal] [date] NOT NULL,
	[Motivo] [varchar](500) NOT NULL,
	[ArchivoFile] [varchar](260) NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Solicitud] PRIMARY KEY CLUSTERED 
(
	[IdSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPermiso]    Script Date: 3/2/2026 15:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPermiso](
	[IdTipoPermiso] [int] IDENTITY(1,1) NOT NULL,
	[NombrePermiso] [varchar](50) NULL,
	[Descripcion] [varchar](200) NULL,
 CONSTRAINT [PK_TipoPermiso] PRIMARY KEY CLUSTERED 
(
	[IdTipoPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 3/2/2026 15:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Identificacion] [varchar](20) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[NombreUsuario] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[CorreoElectronico] [varchar](150) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[IdRol] [int] NOT NULL,
	[IdDepartamento] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Solicitud] ADD  CONSTRAINT [DF_Solicitud_FechaCreacion]  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Solicitud]  WITH CHECK ADD  CONSTRAINT [FK_Solicitud_TipoPermiso] FOREIGN KEY([IdTipoPermiso])
REFERENCES [dbo].[TipoPermiso] ([IdTipoPermiso])
GO
ALTER TABLE [dbo].[Solicitud] CHECK CONSTRAINT [FK_Solicitud_TipoPermiso]
GO
ALTER TABLE [dbo].[Solicitud]  WITH CHECK ADD  CONSTRAINT [FK_Solicitud_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Solicitud] CHECK CONSTRAINT [FK_Solicitud_Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Departamento] FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[Departamento] ([IdDepartamento])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Departamento]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Solicitud]  WITH CHECK ADD  CONSTRAINT [CK_Solicitud_Motivo_NotEmpty] CHECK  ((len(ltrim(rtrim([Motivo])))>(0)))
GO
ALTER TABLE [dbo].[Solicitud] CHECK CONSTRAINT [CK_Solicitud_Motivo_NotEmpty]
GO
ALTER TABLE [dbo].[Solicitud]  WITH CHECK ADD  CONSTRAINT [CK_Solicitud_RangoFechas] CHECK  (([FechaFinal]>=[FechaInicio]))
GO
ALTER TABLE [dbo].[Solicitud] CHECK CONSTRAINT [CK_Solicitud_RangoFechas]
GO
/****** Object:  StoredProcedure [dbo].[ConsultaTipoPermisos]    Script Date: 3/2/2026 15:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultaTipoPermisos]
AS
BEGIN

    SELECT  p.IdTipoPermiso,
            p.NombrePermiso,
            p.Descripcion
    FROM dbo.TipoPermiso AS p
    ORDER BY p.IdTipoPermiso ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[CrearSolicitud]    Script Date: 3/2/2026 15:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CrearSolicitud]
    @IdUsuario       INT,
    @IdTipoPermiso   INT,
    @FechaInicio     DATE,
    @FechaFinal      DATE,
    @Motivo          VARCHAR(500),
    @ArchivoFile     VARCHAR(260)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [dbo].[Solicitud]
        (IdUsuario, IdTipoPermiso, FechaInicio, FechaFinal, Motivo, ArchivoFile)
    VALUES
        (@IdUsuario, @IdTipoPermiso, @FechaInicio, @FechaFinal, @Motivo, @ArchivoFile);

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdSolicitud;
END
GO
/****** Object:  StoredProcedure [dbo].[InicioSesion]    Script Date: 3/2/2026 15:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InicioSesion]
    @CorreoElectronico VARCHAR(150),
    @Password         VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Normaliza el correo (opcional)
    DECLARE @mail VARCHAR(150) = LTRIM(RTRIM(@CorreoElectronico));

    /* 
       Si guardas el password en texto plano:
         AND U.Contrasenna = @Password
       Si lo guardas con HASH (recomendado), por ejemplo SHA2_256:
         AND U.ContrasennaHash = HASHBYTES('SHA2_256', @Password)
       Ajusta la condición según tu columna real.
    */

    SELECT
        U.IdUsuario,
        U.Identificacion,
        U.Nombre,
        U.CorreoElectronico,
        U.Activo,
        U.IdRol,
        R.NombreRol,
        U.IdDepartamento,
        D.NombreDepartamento,
        U.FechaRegistro
    FROM dbo.Usuario U
    INNER JOIN dbo.Rol R
        ON U.IdRol = R.IdRol
    LEFT JOIN dbo.Departamento D
        ON U.IdDepartamento = D.IdDepartamento
    WHERE U.CorreoElectronico = @mail
      AND U.Password = @Password   -- <-- ajusta si usas hash
      AND U.Activo = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[ListaTipoPermisos]    Script Date: 3/2/2026 15:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ListaTipoPermisos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT IdTipoPermiso, NombrePermiso
    FROM dbo.TipoPermiso
    ORDER BY NombrePermiso;
END
GO
