USE [master]
GO
/****** Object:  Database [DBGestionGF]    Script Date: 19/2/2026 22:37:07 ******/
CREATE DATABASE [DBGestionGF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBGestionGF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBGestionGF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBGestionGF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBGestionGF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBGestionGF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBGestionGF]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[IdDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[NombreDepartamento] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[IdDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoSolicitud]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoSolicitud](
	[IdEstado] [tinyint] NOT NULL,
	[NombreEstado] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificacion]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificacion](
	[IdNotificacion] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Titulo] [varchar](120) NOT NULL,
	[Mensaje] [varchar](500) NOT NULL,
	[Leida] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNotificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitud]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitud](
	[IdSolicitud] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdTipoPermiso] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFinal] [date] NOT NULL,
	[Motivo] [varchar](500) NOT NULL,
	[ArchivoFile] [varchar](260) NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[Estado] [tinyint] NOT NULL,
	[MotivoRechazo] [varchar](500) NULL,
 CONSTRAINT [PK_Solicitud] PRIMARY KEY CLUSTERED 
(
	[IdSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPermiso]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPermiso](
	[IdTipoPermiso] [int] IDENTITY(1,1) NOT NULL,
	[NombrePermiso] [varchar](50) NULL,
	[Descripcion] [varchar](200) NULL,
 CONSTRAINT [PK_TipoPermiso] PRIMARY KEY CLUSTERED 
(
	[IdTipoPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Identificacion] [varchar](20) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[NombreUsuario] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[CorreoElectronico] [varchar](150) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[IdRol] [int] NOT NULL,
	[IdDepartamento] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Notificacion] ADD  CONSTRAINT [DF_Notificacion_Leida]  DEFAULT ((0)) FOR [Leida]
GO
ALTER TABLE [dbo].[Notificacion] ADD  CONSTRAINT [DF_Notificacion_Fecha]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Solicitud] ADD  CONSTRAINT [DF_Solicitud_FechaCreacion]  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Solicitud] ADD  CONSTRAINT [DF_Solicitud_Estado]  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[Solicitud]  WITH CHECK ADD  CONSTRAINT [FK_Solicitud_EstadoSolicitud] FOREIGN KEY([Estado])
REFERENCES [dbo].[EstadoSolicitud] ([IdEstado])
GO
ALTER TABLE [dbo].[Solicitud] CHECK CONSTRAINT [FK_Solicitud_EstadoSolicitud]
GO
ALTER TABLE [dbo].[Solicitud]  WITH CHECK ADD  CONSTRAINT [FK_Solicitud_TipoPermiso] FOREIGN KEY([IdTipoPermiso])
REFERENCES [dbo].[TipoPermiso] ([IdTipoPermiso])
GO
ALTER TABLE [dbo].[Solicitud] CHECK CONSTRAINT [FK_Solicitud_TipoPermiso]
GO
ALTER TABLE [dbo].[Solicitud]  WITH CHECK ADD  CONSTRAINT [FK_Solicitud_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Solicitud] CHECK CONSTRAINT [FK_Solicitud_Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Departamento] FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[Departamento] ([IdDepartamento])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Departamento]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Solicitud]  WITH CHECK ADD  CONSTRAINT [CK_Solicitud_Motivo_NotEmpty] CHECK  ((len(ltrim(rtrim([Motivo])))>(0)))
GO
ALTER TABLE [dbo].[Solicitud] CHECK CONSTRAINT [CK_Solicitud_Motivo_NotEmpty]
GO
ALTER TABLE [dbo].[Solicitud]  WITH CHECK ADD  CONSTRAINT [CK_Solicitud_RangoFechas] CHECK  (([FechaFinal]>=[FechaInicio]))
GO
ALTER TABLE [dbo].[Solicitud] CHECK CONSTRAINT [CK_Solicitud_RangoFechas]
GO
/****** Object:  StoredProcedure [dbo].[ConsultaTipoPermisos]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultaTipoPermisos]
AS
BEGIN

    SELECT  p.IdTipoPermiso,
            p.NombrePermiso,
            p.Descripcion
    FROM dbo.TipoPermiso AS p
    ORDER BY p.IdTipoPermiso ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[CrearSolicitud]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearSolicitud]
    @IdUsuario       INT,
    @IdTipoPermiso   INT,
    @FechaInicio     DATE,
    @FechaFinal      DATE,
    @Motivo          VARCHAR(500),
    @ArchivoFile     VARCHAR(260)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [dbo].[Solicitud]
        (IdUsuario, IdTipoPermiso, FechaInicio, FechaFinal, Motivo, ArchivoFile, Estado)
    VALUES
        (@IdUsuario, @IdTipoPermiso, @FechaInicio, @FechaFinal, @Motivo, @ArchivoFile, 0);

    DECLARE @IdSolicitud INT = CAST(SCOPE_IDENTITY() AS INT);

    -- HU08: Notificar a administradores (rol 1 o 2)
    DECLARE @NombreSolicitante VARCHAR(150) = '';
    SELECT @NombreSolicitante = ISNULL(U.Nombre, '')
    FROM dbo.Usuario U
    WHERE U.IdUsuario = @IdUsuario;

    INSERT INTO dbo.Notificacion (IdUsuario, Titulo, Mensaje)
    SELECT
        A.IdUsuario,
        'Nueva solicitud de permiso',
        CONCAT('Se creó la solicitud #', @IdSolicitud,
               ' por ', NULLIF(@NombreSolicitante,''), 
               CASE WHEN NULLIF(@NombreSolicitante,'') IS NULL THEN CONCAT('usuario #', @IdUsuario) ELSE '' END,
               '. Requiere revisión.')
    FROM dbo.Usuario A
    WHERE A.IdRol IN (1,2);

    -- Retornar el IdSolicitud como ya lo hacías
    SELECT @IdSolicitud AS IdSolicitud;
END
GO
/****** Object:  StoredProcedure [dbo].[DashboardAdmin_SolicitudesRecientes]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DashboardAdmin_SolicitudesRecientes]
    @Top INT = 20
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@Top)
        S.IdSolicitud,
        U.Nombre AS Colaborador,
        TP.NombrePermiso AS TipoPermiso,
        S.FechaInicio,
        S.FechaFinal,
        S.Estado,
        ES.NombreEstado,
        S.ArchivoFile,
        S.MotivoRechazo
    FROM dbo.Solicitud S
    INNER JOIN dbo.Usuario U ON U.IdUsuario = S.IdUsuario
    INNER JOIN dbo.TipoPermiso TP ON TP.IdTipoPermiso = S.IdTipoPermiso
    INNER JOIN dbo.EstadoSolicitud ES ON ES.IdEstado = S.Estado
    ORDER BY S.IdSolicitud DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[InicioSesion]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InicioSesion]
    @CorreoElectronico VARCHAR(150),
    @Password         VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Normaliza el correo (opcional)
    DECLARE @mail VARCHAR(150) = LTRIM(RTRIM(@CorreoElectronico));

    /* 
       Si guardas el password en texto plano:
         AND U.Contrasenna = @Password
       Si lo guardas con HASH (recomendado), por ejemplo SHA2_256:
         AND U.ContrasennaHash = HASHBYTES('SHA2_256', @Password)
       Ajusta la condición según tu columna real.
    */

    SELECT
        U.IdUsuario,
        U.Identificacion,
        U.Nombre,
        U.CorreoElectronico,
        U.Activo,
        U.IdRol,
        R.NombreRol,
        U.IdDepartamento,
        D.NombreDepartamento,
        U.FechaRegistro
    FROM dbo.Usuario U
    INNER JOIN dbo.Rol R
        ON U.IdRol = R.IdRol
    LEFT JOIN dbo.Departamento D
        ON U.IdDepartamento = D.IdDepartamento
    WHERE U.CorreoElectronico = @mail
      AND U.Password = @Password   -- <-- ajusta si usas hash
      AND U.Activo = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[ListaTipoPermisos]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ListaTipoPermisos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT IdTipoPermiso, NombrePermiso
    FROM dbo.TipoPermiso
    ORDER BY NombrePermiso;
END
GO
/****** Object:  StoredProcedure [dbo].[Notificacion_ContarNoLeidas]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Notificacion_ContarNoLeidas]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(1)
    FROM dbo.Notificacion
    WHERE IdUsuario = @IdUsuario AND Leida = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[Notificacion_Crear]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Notificacion_Crear]
    @IdUsuario INT,
    @Titulo    VARCHAR(120),
    @Mensaje   VARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Notificacion (IdUsuario, Titulo, Mensaje)
    VALUES (@IdUsuario, @Titulo, @Mensaje);

    SELECT CAST(SCOPE_IDENTITY() AS INT);
END
GO
/****** Object:  StoredProcedure [dbo].[Notificacion_Listar]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Notificacion_Listar]
    @IdUsuario INT,
    @Top INT = 30
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@Top)
        IdNotificacion,
        IdUsuario,
        Titulo,
        Mensaje,
        Leida,
        FechaCreacion
    FROM dbo.Notificacion
    WHERE IdUsuario = @IdUsuario
    ORDER BY FechaCreacion DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[Notificacion_MarcarLeida]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Notificacion_MarcarLeida]
    @IdNotificacion INT,
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Notificacion
    SET Leida = 1
    WHERE IdNotificacion = @IdNotificacion
      AND IdUsuario = @IdUsuario;

    SELECT @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[Notificacion_MarcarTodasLeidas]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Notificacion_MarcarTodasLeidas]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Notificacion
    SET Leida = 1
    WHERE IdUsuario = @IdUsuario
      AND Leida = 0;

    SELECT @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[Solicitud_ActualizarArchivo]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Solicitud_ActualizarArchivo]
    @IdSolicitud INT,
    @ArchivoFile VARCHAR(260)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Solicitud
    SET ArchivoFile = @ArchivoFile
    WHERE IdSolicitud = @IdSolicitud;
END

GO
/****** Object:  StoredProcedure [dbo].[Solicitud_Aprobar]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Solicitud_Aprobar]
    @IdSolicitud INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdUsuario INT;
    SELECT @IdUsuario = IdUsuario
    FROM dbo.Solicitud
    WHERE IdSolicitud = @IdSolicitud;

    -- Solo aprobar si está pendiente
    UPDATE dbo.Solicitud
    SET Estado = 1,
        MotivoRechazo = NULL
    WHERE IdSolicitud = @IdSolicitud
      AND Estado = 0;

    IF (@@ROWCOUNT > 0)
    BEGIN
        INSERT INTO dbo.Notificacion (IdUsuario, Titulo, Mensaje)
        VALUES
        (
            @IdUsuario,
            'Solicitud aprobada',
            CONCAT('Tu solicitud #', @IdSolicitud, ' fue aprobada.')
        );

        SELECT 1; -- ok
        RETURN;
    END

    SELECT 0; -- no se pudo (no estaba pendiente o no existe)
END
GO
/****** Object:  StoredProcedure [dbo].[Solicitud_CambiarEstado]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Solicitud_CambiarEstado]
    @IdSolicitud INT,
    @Estado      TINYINT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Solicitud
    SET Estado = @Estado
    WHERE IdSolicitud = @IdSolicitud;

    SELECT @@ROWCOUNT;
END

GO
/****** Object:  StoredProcedure [dbo].[Solicitud_Cancelar]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Solicitud_Cancelar]
    @IdSolicitud INT,
    @IdUsuario   INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Cancelar solo si es del usuario y está pendiente
    UPDATE dbo.Solicitud
    SET Estado = 3,
        MotivoRechazo = NULL
    WHERE IdSolicitud = @IdSolicitud
      AND IdUsuario = @IdUsuario
      AND Estado = 0;

    IF (@@ROWCOUNT > 0)
    BEGIN
        INSERT INTO dbo.Notificacion (IdUsuario, Titulo, Mensaje)
        VALUES
        (
            @IdUsuario,
            'Solicitud cancelada',
            CONCAT('Cancelaste tu solicitud #', @IdSolicitud, '.')
        );

        SELECT 1;
        RETURN;
    END

    SELECT 0;
END
GO
/****** Object:  StoredProcedure [dbo].[Solicitud_Rechazar]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Solicitud_Rechazar]
    @IdSolicitud INT,
    @MotivoRechazo VARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdUsuario INT;
    SELECT @IdUsuario = IdUsuario
    FROM dbo.Solicitud
    WHERE IdSolicitud = @IdSolicitud;

    -- Solo rechazar si está pendiente
    UPDATE dbo.Solicitud
    SET Estado = 2,
        MotivoRechazo = @MotivoRechazo
    WHERE IdSolicitud = @IdSolicitud
      AND Estado = 0;

    IF (@@ROWCOUNT > 0)
    BEGIN
        INSERT INTO dbo.Notificacion (IdUsuario, Titulo, Mensaje)
        VALUES
        (
            @IdUsuario,
            'Solicitud rechazada',
            CONCAT('Tu solicitud #', @IdSolicitud, ' fue rechazada. Motivo: ', @MotivoRechazo)
        );

        SELECT 1;
        RETURN;
    END

    SELECT 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SolicitudHistorialAdmin]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SolicitudHistorialAdmin]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        S.IdSolicitud,
        U.Nombre         AS NombreUsuario,
        TP.NombrePermiso AS NombrePermiso,
        S.FechaInicio,
        S.FechaFinal,
        S.Motivo,
        S.Estado,
        S.ArchivoFile,
        S.Motivo
    FROM dbo.Solicitud S
    INNER JOIN dbo.Usuario U
        ON U.IdUsuario = S.IdUsuario
    INNER JOIN dbo.TipoPermiso TP
        ON TP.IdTipoPermiso = S.IdTipoPermiso
    ORDER BY S.IdSolicitud DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[Usuario_SolicitudesRecientes]    Script Date: 19/2/2026 22:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Usuario_SolicitudesRecientes]
    @IdUsuario INT,
    @Top INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@Top)
        S.IdSolicitud,
        TP.NombrePermiso AS TipoPermiso,
        S.FechaInicio,
        S.FechaFinal,
        S.Estado,
        ES.NombreEstado,
        S.ArchivoFile,
        S.MotivoRechazo,
        S.Motivo
    FROM dbo.Solicitud S
    INNER JOIN dbo.TipoPermiso TP ON TP.IdTipoPermiso = S.IdTipoPermiso
    INNER JOIN dbo.EstadoSolicitud ES ON ES.IdEstado = S.Estado
    WHERE S.IdUsuario = @IdUsuario
    ORDER BY S.IdSolicitud DESC;
END
GO
USE [master]
GO
